.App {
  text-align: center;
  background-color: rgb(238, 238, 238);
}

.App-header {
  background-image: url(images/chalkboard.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

hr {
  display: block;
  unicode-bidi: isolate;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  width: 700px;
}

.Sourse {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}
.Galerry {
  padding: 5px 10px;
  margin: 4px;
  border-radius: 6px;
  display: inline-block;
  box-shadow: 1px 1px 8px black;
  transition: 0.2s;
}
h3 {
  text-align: center;
}
